.box {

    display: block;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 500px;
    padding: 30px;
}
.signin {
    background-color: lightgreen;
    border: 3px solid darkgreen;
}
.signup {
    background-color: lightblue;
    border: 3px solid darkblue;
}
.title {
    text-align: center;
}
.back {
    width: 40px;
    margin: 30px;
    margin-right: 10px;
}
.linkBack {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0px;
}
.spacer {
    margin-top:30px;
}
.greenbtn {
    background-color: green !important;
    border: 2px solid darkgreen !important;
}
.greenbtn:hover {
    background-color: darkcyan !important;
    border: 2px solid darkgreen !important;
}
.bluebtn {
    background-color: blue !important;
    border: 2px solid darkblue !important;
}
.bluebtn:hover {
    background-color: darkslateblue !important;
    border: 2px solid darkblue !important;
}
.right {
    align-self: flex-end;
    text-align: right;
}
.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
}