.grid {
    background-color: rgb(206, 222, 227);

    color: #000;
    width: 150px;
    text-align: center;
    border: 5px solid rgba(24, 16, 51, 0.87);
    border-radius: 16px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    margin: 30px;
}

.grid:hover {
    box-shadow: 10px 10px 20px #69676c;
    transition: box-shadow 0.3s ease-in-out;
}

.removeUnderline {
    text-decoration: none;
}