.tab {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: fit-content;
    border: 5px solid rgb(114, 41, 16);
    background-color: blanchedalmond;
    display: block;
}

tbody {
    justify-content: center;
    display: grid;
}

.tabHead {

    text-align: center;
    margin: 30px;
}